{% extends 'base.html' %}


{% block body %}

<div class="container">

    <h4 class="text-primary"> Apurações Realizadas no Sistema:</h4> <br>
    <h6 class="text-primary">Mês de Apuração: {{ datacompetencia }}</h6>


    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Quantidade Compras</th>
                <th>Quantidade Vendas</th>
                <th>Total Custo</th>
                <th>Total Vendas</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr>
                <td>{{ item.ticker }}</td>
                <td>{{ item.qtdeCompras }}</td>
                <td>{{ item.qtdeVendas }}</td>
                <td>{{ item.custo }}</td>
                <td>{{ item.totalVendas }}</td>
                <td>{{ item.resultado }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" align="right"><b>Resultado</b></td>
                <td><b>{{ "R${:,.2f}".format(totalResultado) }}</b></td>
            </tr>
            <tr>
                <td colspan="5" align="right"><b>Imposto de Renda a Pagar</b></td>

                <td><b>{{ "R${:,.2f}".format(imposto) }}</b></td>
            </tr>

        </tfoot>
    </table>
</div>

<div class="row mt-5">

</div>
{% endblock %}
