{% extends 'base.html' %}


{% block body %}

<div class="container mt-4">


    <div class="banner-home">
        <div class="banner-home-inside">
            <h1 class="text-white text-center">Sistema Apurador</h1>
            <h4 class="text-center text-white">Sistema apurador de resultados e cálculo de impostos sobre ações</h4>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $('.banner-home').slideDown(1000);
</script>

{% endblock %}